



.fon{
    height: 100%;
    width: 100%;
    background-image: url("fon.jpg");
    position: fixed;
    z-index: -1;
}
.main {
    gap: 8px;
    height: 3000px;
    width: 100%;
    /*background-color: brown;*/
}
    
.head {
    height: 100px;
    width: 100%;
    /*background-color: rgb(0, 0, 0);*/
}
.block{
    height: 100px;
    width: 250px;
    /*background-color: rgb(0, 255, 13);*/
    float: left;
}
.logo{
    height: 100px;
    width: 100px;
    background-color: rgb(47, 0, 255);
    float: left;
    font-family: "Science Gothic", sans-serif;
}
.case{
    height: 100px;
    width: 100px;
    background-color: rgb(87, 94, 1);
    float: left;
    font-family: "Science Gothic", sans-serif;
}
.apgrade{
    height: 100px;
    width: 100px;
    background-color: rgba(252, 251, 189, 0.247);
    float: left;
    font-family: "Science Gothic", sans-serif;
}
.login{
    height: 100px;
    width: 300px;
    background-color: rgba(4, 2, 136, 0.247);
    float: right;
    font-family: "Science Gothic", sans-serif;
}
.ceti{
    height: 100px;
    width: 700px;
    background-color: rgba(109, 108, 67, 0.247);
    margin-right: auto;
    margin-left: auto;
    font-family: "Science Gothic", sans-serif;
}

.drop {
    height: 100%;
    width: 200px;
    /*background-color: rgb(0, 4, 255);*/
    position: fixed;
    z-index: 2;
}



.info {
    height: 100%;
    width: 100%;
    /*background-color: blueviolet;*/
}
.name{
    height: 200px;
    width: 1400px;
    /*background-color: rgb(255, 0, 85);*/
    margin-left: auto;
    margin-right: auto;
}
.blockcase{
    height: 2000px;
    width: 1400px;
    /*background-color: rgb(255, 81, 0);*/
    margin-left: auto;
    margin-right: auto;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 37px;
}
.div1{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div2{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div3{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div4{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div5{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div6{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div7{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div8{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div9{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.div10{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}


